* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 1px solid rgb(0 0 0 / 0.2);
    --text-center: center;
}

header {
  background-color: #15404d;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: var(--text-center);
  padding-top: 0.5rem;
}

header span {
  padding: 10% 0;
}

nav {
    background-color: rgb(59, 59, 63);
    margin-top: 1rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

header,
main,
footer {
    max-width: 840px;
    margin: 0 auto;
}

h1 {
    color: darkblue;
    border-bottom: 1px solid #169eb6;
    justify-self: center;
    grid-column: span 2;    
}

main {
    display: grid;
    columns: 2;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

.card {
    grid-row: 2;
    margin: 10px  auto;
    padding: 1rem;
    border: var(--border);
}

.card h2 {
    background-color: #15404d;
    color: white;
    justify-self: center;
}

footer {
    background-color: #15404d;
    color: white;
    margin-top: 15px;
    border-top: var(--border);
    text-align: var(--text-center);
}

a:hover {
    color: #27b329;
}

.metamorphous-regular {
  font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
}